# Ignorer byggmapper
build/
dist/
distIntelMac/
*.spec

# Tillat kun 1.0.1 i dist
!dist/TimelapseSaver_1.0.1.exe

# Ignorer virtuelle miljøer
venv/
.venv/

# Ignorer Python-kompilerte filer
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorer loggfiler og midlertidige filer
*.log
*.tmp
*.swp
*.bak

# Ignorer systemspesifikke filer
.DS_Store
Thumbs.db
